[Unit]
Description=Periodically check for approved Platform Lab releases

[Timer]
OnCalendar=*:0/2
RandomizedDelaySec=15
Persistent=true
Unit=platform-lab-deploy.service

[Install]
WantedBy=timers.target
