[Unit]
Description=Periodically check for approved Platform Lab releases

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=15
Persistent=true

[Install]
WantedBy=timers.target
