[Unit]
Description=Platform Lab PostgreSQL backup
Wants=network-online.target
After=network-online.target docker.service platform-lab.service
Requires=docker.service
Requires=platform-lab.service

[Service]
Type=oneshot
User=dutch
WorkingDirectory=/home/dutch/platform-lab
ExecStart=/home/dutch/platform-lab/scripts/backup-db.sh
ExecStart=/home/dutch/platform-lab/scripts/upload-backup-s3.sh
TimeoutStartSec=300
